#lineup, #experience, #info {
  background-image: url("../assets/images/background_page.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
  min-height: 100vh;
}

.title-star {
  font-family: Arial, sans-serif;
  font-size: 40px;
  line-height: 1;
  color: black;
}